<section class="leftSide">
    <img src={{iconLInk}}>
    <label>{{name}}</label>
    <div class="seperator"></div>
    <ul>
        <li *ngFor="let tab of tabs">
          <label (click)="selectTab(tab)">{{tab}}</label>
        </li>
    </ul>
</section>
<section class="center">
</section>
<section class="rightSide">
  <label class="menu1" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </label>
  <mat-menu #menu="matMenu">
    <button *ngFor="let menuItem of menuItems" mat-menu-item (click)="selectMenuItem(menuItem)">{{menuItem}}</button>
  </mat-menu>
</section>